
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f3ecd8;
            color: #333;
        }

        .navbar {
            display: flex;
            justify-content: center;
            background-color: #816C61;
            padding: 10px;
            justify-content: flex-end;
            border: 3px solid black;
        }

        .navbar a {
            color: #fff;
            text-decoration: underline;
            padding: 15px 20px;
            font-weight: bold;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 40px;
        }

        .profile-pic {
            border-radius: 50%;
            width: 390px;
            height: 430px;
            object-fit: cover;
            margin-right: 100px; 
            border: 5px solid white;
            transform: translateY(60px)
            
        }

        .description {
            max-width: 600px;
            text-align: justify;
            font-size: 18px;
            line-height: 1.5;
            margin-top: 120px ;
        }

        .social-icons {
            border: 3px solid black;
            display: flex;
            justify-content: center;
            background-color: #131b237b;
            padding: 10px 0;
            position: fixed;  
            width: 100%;      
            bottom: 0;       
            left: 0;         
        }

        .social-icons a {
            text-decoration: none;
            color: #333;
            margin: 0 20px;
            font-size: 2em;
        }

        .social-icons a img {
            width: 60px;
            height: 60px;
        }