body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E7DFC6;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #816C61;
    padding: 10px;
    border: 3px solid black;
}

.navbar a {
    color: #fff;
    text-decoration: underline;
    padding: 15px 40px;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px;
    padding: 80px 80px 80px;
    max-width: 900px; 
    margin: 0 auto;
}

.hobby {
    text-decoration: underline;
    display: flex; 
    align-items: center; 
    gap: 20px;
}

.hobby img {
    width: 300px; 
    height: 225px;
    object-fit: cover;
    border: 2px solid #333;
}

.hobby a {
    color: #333;
    font-weight: bold;
    font-size: 22px;
}

.hobby a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    justify-content: center;
    background-color: #131b237b;
    padding: 10px 0;
    border: 3px solid black;
}

.social-icons a {
    color: #333;
    margin: 0 20px;
}

.social-icons a img {
    width: 60px;
    height: 60px;
}

@media (max-width: 1080px) {

     body {
        overflow: hidden;
        height: 100%;
        margin: 0;
    }

    .navbar {
        justify-content: space-around;
        padding: 10px 5px;
        background-color: #816C61;
        border-bottom: 1px solid black;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .navbar a {
        padding: 10px 8px;
        font-size: 10px;
    }

    .container {
        grid-template-columns: 1fr; 
        gap: 15px;
        padding: 50px 10px;  
        max-width: 100%;
        overflow: hidden;
    }

    .hobby {
        text-decoration: underline;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding: 15px 10px;
    }

    .hobby img {
        width: 120px;
        height: 80px;
    }

    .hobby a {
        font-size: 16px;
        flex: 1;
    }

    .social-icons {
        display: flex;
        justify-content: space-around;
        padding: 10px 5px;
        background-color: #131b237b;
        border: 3px solid black;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .social-icons a {
        font-size: 1.5em;
        margin: 0 10px;
    }

    .social-icons a img {
        border-radius: 50%;
        border: 2px solid black;
        width: 32px;
        height: 32px;
    }
}

