body {
    font-family: Helvetica, sans-serif;
    background-color: #E7DFC6;
    margin: 0;
    padding: 0;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #816C61;
    padding: 10px;
    justify-content: flex-end;
    border: 3px solid black;
}

.navbar a {
    color: #fff;
    text-decoration: underline;
    padding: 15px 40px;
    font-weight: bold;
}

.social-links-container {
    background-color: #131b237b;
    margin: 50px auto;
    padding: 50px 100px;
    max-width: 600px;
    border: 5px solid black;
    text-align: center;
    margin-top: 100px;
}

.social-link {
    display: flex;
    align-items: center; 
    justify-content: left; 
    padding: 25px 0;
}

.social-link img {
    width: 50px;
    height: 50px;
    margin-right: 20px; 
}

.social-link span {
    font-size: 1.5em;
    color: #f3edd7;
    font-weight: bold;
    text-decoration: underline;
}
@media (max-width: 1080px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; 
        margin: 0;
        padding: 0;
        background-color: #E7DFC6;
    }

    .navbar {
        position: fixed;
        justify-content: space-around;
        padding: 10px 5px;
        background-color: #816C61;
        border-bottom: 1px solid black;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .navbar a {
        padding: 10px 8px;
        font-size: 10px;
    }

    .social-links-container {
        padding: 30px 20px;
        max-width: 90%; 
        border: 3px solid black;
        background-color: #131b237b;
        box-sizing: border-box; 
    }

    .social-link {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding: 15px 0;
    }

    .social-link img {
        border-radius: 50%;
        border: 2px solid black;
        width: 32px;
        height: 32px;
    }

    .social-link span {
        font-size: 10px;
        color: #E7DFC6;
        font-weight: bold;
        text-decoration: underline;
    }
}


