body {
    font-family: Arial, sans-serif;
    background-color: #e8e0c4;
    margin: 0;
    padding: 0;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #816C61;
    padding: 10px;
    justify-content: flex-end;
    border: 3px solid black;
}

.navbar a {
    color: #fff;
    text-decoration: underline;
    padding: 15px 20px;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-content {
    max-width: 40%;
    margin-right: 100px; 
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

.name {
    font-weight: bold;
    font-size: 4em;
    text-decoration: underline;
    margin-bottom: 20px;
    color: black;
}

.quote {
    font-size: 1.5em;
    margin: 20px 0; 
}

.quote-author {
    font-size: 1.3em;
    text-align: right;
    margin-top: 10px;

}

.about-button {
    display: inline-block;
    padding: 15px 40px;
    background-color: #816C61;
    color: #fff;
    transition: background-color 0.3s ease;
    border: 5px solid white;
    font-size: 1.4em;
    text-align: center;
    margin-top: 50px;
}

.about-button:hover {
    background-color: #6c5a52;
}

.profile-pic {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    object-fit: cover;
    border: 5px solid white;
    margin-left: 50px; 
}

.social-icons {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    background-color: #131b237b;
    padding: 10px 0;
    position: fixed;  
    width: 100%;      
    bottom: 0;       
    left: 0;         
}

.social-icons a {
    text-decoration: none;
    color: #333;
    margin: 0 20px;
    font-size: 2em;
}

.social-icons a img {
    width: 60px;
    height: 60px;
}


@media (min-width:600px) {
    body{
        background-color: antiquewhite;
    }
}